.todo-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: white;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.input-section input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: 'Poppins';
}

.input-section button {
  background-color: #00d084;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: 'Poppins';
  color: #fff;
  cursor: pointer;
}

.tabs {
  display: flex;
  /* gap: 10px; */
  margin-bottom: 15px;
}
button.isCompleted.active {
    background: #00d084;
}
.tabs button {
  padding: 6px 12px;
  border: none;
  border-radius: 0px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins';
}

.tab-container {
  display: flex;
  /* background: #333; */
  padding: 10px;
}

.tab {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  /* margin-right: 10px; */
}

.tab.active {
  background-color: #00d084;
  border-radius: 0px;
}

.tabs .active-tab {
  background-color: #00d084;
}

.todo-item {
  background-color: #333;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.todo-item h4 {
  margin: 0;
  color: #00ff99;
}

.todo-item p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #ccc;
}

.icons {
  display: flex;
  gap: 12px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}


form.todo-form {
    display: flex
;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.save-item {

    gap: 10px;
    width: auto;
    
}
.save-item input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    /* display: flex
; */
    background: white;
    color: black;
    margin-bottom: 10px;
   
}
.line-through {
  text-decoration: line-through;
  opacity: 0.6;
}

p.status {
    display: flex
;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
    cursor: auto;
}