

.container {
  max-width: 1600px;
  margin: 0 auto;
}
P{
  color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: Poppins;
  line-height: 1.7;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-size: 16px;
}
a {
  color: #000;
  outline: 0px none;
  text-decoration: none;
  font-family: 'Poppins';
}
p {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  line-height: 1.2;
  color: #336dd1;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 23px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  font-weight: 400;
}
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

p.cc.line-through {
    color: black;
}
p.cc{
  color: black;
}